{% extends "base.html" %}
{% from "_form_macros.html" import render_field %}

{% block content %}

  <h1>Страница не найдена</h1>
  <h4>Запрашиваемая Вами страница не существует!</h4>
  <h4>
      <a href="{{ url_for('queue.index') }}">
      {% if template_data and template_data.get('site_name') %}
      {{ template_data.get('site_name') }}
      {% else %}
      Электронная очередь
      {% endif %}
      </a>
  </h4>

{% endblock %}