<html>
<head>
    {% if template_data and template_data.get('title') and template_data.get('site_name')%}
    <title>{{template_data.get('title')}} - {{template_data.get('site_name')}}</title>
    {% elif template_data and template_data.get('site_name') %}
    <title>{{ template_data.get('site_name') }}</title>
    {% else %}
    <title>Электронная очередь</title>
    {% endif %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header pull-left">
                        <a class="navbar-brand" href="/">
                            {% if template_data and template_data.get('site_name') %}
                            {{ template_data.get('site_name') }}
                            {% else %}
                            Электронная очередь
                            {% endif %}
                        </a>
                    </div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu" id="button_navbar_toggle">
                            <span class="sr-only">Открыть навигацию</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="responsive-menu">
                        <ul class="nav navbar-nav">
                            <li {% if (request.path == url_for('queue.index')) or  (request.path == '/') %}class="active"{% endif %}><a href="{{ url_for('queue.index') }}">Главная</a></li>
                            {% if current_user.role == "admin" %}
                            <li><a href="/admin">Админка</a></li>
                            {% endif %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if current_user.is_authenticated %}
                            <li {% if request.path == url_for('users.user_profile') %}class="active"{% endif %}><a href="{{ url_for('users.user_profile') }}">{{ current_user.get_username() }}</a></li>
                            <li {% if request.path == url_for('users.logout') %}class="active"{% endif %}><a href="{{ url_for('users.logout') }}">Выйти</a></li>
                            {% else %}
                            <li {% if request.path == url_for('users.register') %}class="active"{% endif %}><a href="{{ url_for('users.register') }}">Регистрация</a></li>
                            <li {% if request.path == url_for('users.login') %}class="active"{% endif %}><a href="{{ url_for('users.login') }}">Вход</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>