<p>Вы были зарегистрированы на сайте <a href="{{url_for('queue.index', _external = True)}}">"Электронная очередь"</a>.</p>
<p>Для подтверждения e-mail адреса и активации аккаунта перейдите по ссылке: <a href="{{ confirm_url }}">{{ confirm_url }}</a>.</p>

С уважением,

Администратор сайта "Электронная очередь"