<p>Вами была запрошена процедура сброса пароля на сайте  <a href="{{url_for('queue.index', _external = True)}}">"Электронная очередь"</a>.</p>
<p>Для сброса пароля перейдите по ссылке: <a href="{{ password_reset_url }}">{{ password_reset_url }}</a> или проигнорируйте это письмо, если вы не запрашивали сброс пароля.</p>

С уважением,

Администратор сайта "Электронная очередь"