{% extends "base.html" %}
{% from "_form_macros.html" import render_field %}

{% block content %}
{% include 'flash.html' %}
<div class="user-profile">
  <div class="page-header">
    <h2>Изменить Email</h2>
  </div>
  <h4>Текущий Email: {{ current_user.email }}</h4>
  <h4>Новый Email:</h4>
  <form action="{{ url_for('users.user_email_change') }}" method="POST">
  {{ form.csrf_token }}
    <dl>
      {{ render_field(form.email, placeholder="Введите новый Email адрес") }}
    </dl>
    <button class="btn btn-sm btn-success" type="submit">Обновить</button>
  </form>
</div>

{% endblock %}