<!-- flash messages -->
{% for error_message in get_flashed_messages(category_filter=["error"]) %}
<div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{ error_message }}
</div>
{% endfor %}
{% for success_message in get_flashed_messages(category_filter=["success"]) %}
<div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{ success_message }}
</div>
{% endfor %}
{% for info_message in get_flashed_messages(category_filter=["info"]) %}
<div class="alert alert-info alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{ info_message }}
</div>
{% endfor %}