{% extends "base.html" %}
{% from "_form_macros.html" import render_field %}

{% block content %}
{% include 'flash.html' %}
<div class="user-registration">
  <div class="page-header">
    <h2>Вход</h2>
  </div>
    <form action="{{ url_for('users.login', next=request.args.get('next')) }}" method="post">
    {{ form.csrf_token }}
    <dl>
      {{ render_field(form.email, placeholder="E-mail адрес") }}
      {{ render_field(form.password, placeholder="Пароль") }}
    </dl>
    <button class="btn btn-sm btn-success" type="submit">Войти</button>
  </form>
  <em>Нет аккаунта? </em><a href="{{ url_for('users.register') }}">Зарегистрируйся!</a>
  | <em>Забыли пароль? </em><a href="{{ url_for('users.reset') }}">Восстановить!</a>
</div>
{% endblock %}