{% extends "base.html" %}
{% from "_form_macros.html" import render_field %}

{% block content %}
{% include 'flash.html' %}
<div class="add-recipe">
  <div class="page-header">
    <h2>Новый пароль</h2>
  </div>
  <form action="{{ form_action }}" method="POST">
    {{ form.csrf_token }}
    <dl>
      {{ render_field(form.password, placeholder="Новый пароль") }}
      {{ render_field(form.confirm, placeholder="Повторите пароль") }}
    </dl>
    <button class="btn btn-sm btn-success" type="submit">Изменить пароль</button>
  </form>
</div>

{% endblock %}