{% extends "base.html" %}
{% from "_form_macros.html" import render_field %}

{% block content %}
{% include 'flash.html' %}
<div class="add-recipe">
  <div class="page-header">
    <h2>Сброс пароля</h2>
  </div>
  <form action="{{ url_for('users.reset') }}" method="POST">
    {{ form.csrf_token }}
    <dl>
      {{ render_field(form.email, placeholder="E-mail адрес") }}
    </dl>
    <button class="btn btn-sm btn-success" type="submit">Сбросить пароль</button>
  </form>
</div>

{% endblock %}