{% extends "base.html" %}
{% from "_form_macros.html" import render_field %}

{% block content %}
{% include 'flash.html' %}
<div class="user-registration">
  <div class="page-header">
    <h2>Регистрация нового акканунта</h2>
  </div>
<form action="{{ url_for('users.register') }}" method="post">
    {{ form.csrf_token }}
    <dl>
      {{ render_field(form.email, placeholder="E-mail адрес") }}
      {{ render_field(form.password, placeholder="Пароль") }}
      {{ render_field(form.confirm, placeholder="Повторите пароль") }}
    </dl>
    <button class="btn btn-sm btn-success" type="submit">Создать новый аккаунт</button>
  </form>
  <em>Уже есть аккаунт? </em><a href="{{ url_for('users.login') }}">Войти!</a>
</div>
{% endblock %}