<p>{{user.email}}, Вы успешно зарегистрировались на сайте <a href="{{ url_for('queue.index', _external=True) }}">"Электронная очередь"</a>.</p>
<p>Для перехода в личный кабинет воспользуйтесь ссылкой:</p>
<p>С уважением,</p>
<p>Администратор сайта <code>"Электронная очередь"</code></p>