{% extends "base.html" %}
{% from "_form_macros.html" import render_field %}

{% block content %}
{% include 'flash.html' %}
<div class="user-profile">
  <div class="page-header">
    <h2>Профиль пользователя</h2>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-primary">
        {% if current_user.get_username() != current_user.email %}
          <div class="panel-heading">Пользователь</div>
          <div class="panel-body">{{ current_user.get_username() }}</div>
        {% endif %}
          <div class="panel-heading">Email адрес</div>
          <div class="panel-body">{{ current_user.email }}</div>
        {% if current_user.role != 'user' %}
          <div class="panel-heading">Роль</div>
          <div class="panel-body">{{ current_user.role }}</div>
        {% endif %}
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">Действия с аккаунтом</div>
        <div class="panel-body"><a href="{{ url_for('users.user_email_change') }}">Изменить email</a></div>
        <div class="panel-body"><a href="{{ url_for('users.user_password_change') }}">Изменить пароль</a></div>
        {% if not current_user.email_confirmed %}
          <div class="panel-body"><a href="{{ url_for('users.resend_email_confirmation') }}">Повторно отправить письмо для подтверждения email адреса</a></div>
        {% endif %}
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">Статистика</div>
        <div class="panel-body">Зарегистрирован: {{ current_user.registered_on.strftime("%d %B %Y %H:%M") }}</div>
        {% if current_user.last_logged_in != None %}
          <div class="panel-body">Последний вход: {{ current_user.last_logged_in.strftime("%d %B %Y %H:%M") }}</div>
        {% else %}
          <div class="panel-body">Первый вход в систему. Добро пожаловать!</div>
        {% endif %}
        {% if current_user.email_confirmed %}
          <div class="panel-body">Email адрес подтвержден: {{ current_user.email_confirmed_on.strftime("%d %B %Y%H:%M") }}</div>
        {% else %}
          <div class="panel-body">Email ардес не подтвержден!</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}